body{
    position: relative;
}

section{
    width: 75%;
    margin: auto;
}
.content_first{
    margin-top: 10px;
}
.head{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.head button{
    background-color: blue;
    color: white;
    padding: 5px;
    font-size: 15px;
    border-radius: 10px;
    font-weight: 700;
    outline: none;
    border: none;
    cursor: pointer;
}
.head h3{
    color: blue;
    font-size: 20px;
}

.para{
    margin-top: 20px;
    background-color: rgba(128, 128, 128, 0.178);
    padding: 11px;
    border-radius: 5px;
}
.para h5{
    font-size: 18px;
}
.para p{
    margin-top: 3px;
    font-size: 15.5px;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
   
    width: 95%;
    margin: auto;
}
aside{
    width: 8rem;
    height: 100vh;
    border: 1px solid black;
    position: absolute ;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.arrow_right_btn{
    background-color: black;
    padding: 5px;
    height: 50px;
    border-top-right-radius: 10px;
}
.arrow_right_btn button{
    border-radius: 50%;
    padding: 5px;
    position: absolute;
    right: 0;
    top: 10px;
    cursor: pointer; 
    background-color: white;  
}
.one{
    border: 1px solid blue;
    text-align: center;
    color: blue;
   width: 60px;
    margin: auto;
    margin-top: 20px;
    padding: 15px;
    font-size: 20px;
    border-radius: 10px;
}
.last_icons{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
   margin-left: 110%;
   bottom: 20px;
} 
.last_icons i{
    border: 1px solid black;
    padding:10px;
    font-size: 20px;
    width: 40px;
    text-align: center;
    margin: 5px;
    border-radius: 50%;
    background-color: blue;
    color: white;
}